@keyframes pisca {
    0%{opacity: 0.2; }
    50%{opacity: 1; }
    100%{opacity: 0.2; }
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);

}
.pisca{
  animation-name: pisca;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.urna{
    background-color: #fff7b3;
    margin: 50px auto;
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
}
.tela{
    width: 600px;
    height: 350px;
    background-color:black;
    padding: 20px;
    color: green;
    font-family:'Courier New';
    letter-spacing: 1.5px;
    padding-left: 20px;
    border: 2px black solid;
    
}
#menu{
    display :none;
}
.tela ol{
    display: block;
}
.tela li{
    font-size: 30px;
    margin-left: 20px;
}

#iniciando{
  
    font-size: 25px; 
    display: none;
    
}

#carregando{
    font-size: 30px;
    display: none;
}

#encerrando{
    font-size: 30px;
    display: none;
}
.linha{
    height: 50%;
    width: 100%;
    display: flex;

}

.bloco-img{
    height: 100%;
    width: 33%;
    align-items: center;
    text-align: center;
    
}


.imagem{
    height: 150px;
    width: 150px;
    border: 1px green solid;
    opacity: 0.6;
    
}
#candidatos{
    display: none;
}
.candidatos{
    display: flex;
}
.tela span{
    font-size: 15px;
}
.teclado{
    height: 390px;
    background-color: rgb(94, 94, 94);
    margin-left: 20px;
    border: 2px rgb(68, 68, 68) solid;
    border-radius: 5px;
}
.teclado--linha{
    display: flex;
    justify-content: center;
    align-items: center;
}
.teclado--linha01{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.botao{
    width: 40px;
    height: 40px;
    background-color: rgb(32, 32, 32);
    color:white;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    display: flex;
    box-shadow:0 3px 3px  rgb(12, 12, 12);
    cursor: pointer;
    
}
.botao:active{
    box-shadow:0 3px 3px rgb(94, 94, 94);
}
.botao-confirma:active{
    box-shadow:0 3px 3px rgb(94, 94, 94);
}
.botao-reset:active{
    box-shadow:0 3px 3px rgb(94, 94, 94);
}
.botao-delete:active{
    box-shadow:0 3px 3px rgb(94, 94, 94);
}

.botao-confirma{
    width: 60px;
    height: 30px;
    background-color: rgb(32, 32, 32);
    color:green;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    display: flex;
    cursor: pointer;
    box-shadow:0 3px 3px  rgb(12, 12, 12);
}
.botao-delete{
    width: 60px;
    height: 30px;
    background-color: rgb(32, 32, 32);
    color:red;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    display: flex;
    cursor: pointer;
    box-shadow:0 3px 3px  rgb(12, 12, 12);
}
.botao-reset{
    width: 60px;
    height: 30px;
    background-color: rgb(32, 32, 32);
    color:yellow;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    display: flex;
    cursor: pointer;
    box-shadow:0 3px 3px  rgb(12, 12, 12);
}
.ligado{
    border: 2px green solid;
}

#informações{
    display: none;
}
.informação{
    text-align: justify;
   
}
.titulo{
    text-align: center;
}