@keyframes pisca {
    0%{opacity: 0.2; }
    50%{opacity: 1; }
    100%{opacity: 0.2; }
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);

}
.pisca{
  animation-name: pisca;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.urna{
    
    background-color: #fff7b3;
    margin: 50px auto;
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
}
.tela{
    width: 600px;
    height: 350px;
    background-color:black;
    padding: 20px;
    color: rgb(0, 161, 0);
    font-family:'Courier New';
    letter-spacing: 1.5px;
    padding-left: 20px;
    border: 2px black solid;
    
}
#menu{
    display :none;
}
.titulo-menu{
    text-align: center;
    font-size: 22px;
}
.menu-lista{
    font-size: 23px;
    margin-left: 20px;
}
.tela ol{
    display: block;
}

#iniciando{
  
    font-size: 25px; 
    display: none;
    
}

#carregando{
    font-size: 25px;
    display: none;
}

#encerrando{
    font-size: 25px;
    display: none;
}
.linha{
    height: 50%;
    width: 100%;
    display: flex;

}

.bloco-img{
    height: 100%;
    width: 33%;
    align-items: center;
    text-align: center;
    
}


.imagem{
    height: 150px;
    width: 150px;
    border: 1px green solid;
    opacity: 0.6;
    
}
#candidatos{
    display: none;
}
.candidatos{
    display: flex;
}
.tela span{
    font-size: 15px;
}
.teclado{
    background-image: url(imagens/fundo-abstrato-da-textura-brilho-claro-na-prata-áspera-metálica-145063970.jpg);
    height: 390px;
    background-color: rgb(94, 94, 94);
    margin-left: 20px;
    border: 2px rgb(68, 68, 68) solid;
    border-radius: 5px;
}
.teclado--linha{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:monospace;
}
.teclado--linha01{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.botao{
    width: 40px;
    height: 40px;
    background-color: rgb(32, 32, 32);
    color:white;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    display: flex;
    box-shadow:0 3px 3px  rgb(12, 12, 12);
    cursor: pointer;
    
}
.botao:active{
    box-shadow:0 3px 3px rgb(94, 94, 94);
}
.botao-confirma:active{
    box-shadow:0 3px 3px rgb(94, 94, 94);
}
.botao-reset:active{
    box-shadow:0 3px 3px rgb(94, 94, 94);
}
.botao-delete:active{
    box-shadow:0 3px 3px rgb(94, 94, 94);
}

.botao-confirma{
    width: 70px;
    height: 30px;
    background-color: rgb(32, 32, 32);
    color:green;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    display: flex;
    cursor: pointer;
    box-shadow:0 3px 3px  rgb(12, 12, 12);
}
.botao-delete{
    width: 60px;
    height: 30px;
    background-color: rgb(32, 32, 32);
    color:red;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    display: flex;
    cursor: pointer;
    box-shadow:0 3px 3px  rgb(12, 12, 12);
}
.botao-reset{
    width: 60px;
    height: 30px;
    background-color: rgb(32, 32, 32);
    color:yellow;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    display: flex;
    cursor: pointer;
    box-shadow:0 3px 3px  rgb(12, 12, 12);
}
.ligado{
    border: 2px green solid;
}

#informações{
    display: none;
}
.informação{
    text-align: justify;
    margin: 0 20px 50px;
}
.titulo{
    text-align: center;
    
}
#menu-propostas{
    margin-left: 20px;
    margin-bottom: 110px;
    display: none;
}
.titulo-propostas{
    text-align: center;
    font-size: 22px;
}
.lista-propostas{
    font-size: 23px;
}
#cand1{
    display: none;
}
#cand2{
    display: none;
}
#cand3{
    display: none;
}
#cand4{
    display: none;
}
#cand5{
    display: none;
}
#cand6{
    display: none;
}
.votação{
    display: flex;
}
.partedecima1{
    width: 420px;
    height: 300px;
    display:  none;
    flex-direction: column;
    border-bottom: 1px green solid;
   
}
.partedecima2{
    height: 300px;
    width: 180px;
   border-left: green 1.5px solid;
   display: none;
    
}
.botoesespeciais{
    font-size: 12px !important;
    
}
.especiais{
    display: none;
}
.partedecima1 p{
    text-align: center;
}
.numero{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px green solid;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
}

.numeros{
    text-align: center;
    font-size: 20px;
}
.votinfo{
    text-align: left;
    justify-content: right;
    margin-top: 40px;
}

.imgvoto{
    width: 100%;
    height:50% ;
    text-align: center;
}
.imgvoto img{
    height: 130px;
    width: 130px;
    border: 1px green solid;
    opacity: 0.6;
    border-radius: 50%;
}
.votação{
    display: flex;
}
.especiais .pisca{
    margin-left: 200px;
}